html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#main-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#title {

}

#sketch-controls {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


#control-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#color-picker {
    background-color: black;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button {
    width: 150px;
    height: 35px;
}

#sketchbox {
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
}

